.rs-logo{
	position:absolute;
	z-index: 99;
	width:100%;
	top:240px; 
	padding-bottom: 40px;
	padding-left: 100px;
	padding-right: 100px;
}
.choose-menu{
	position:absolute;
	z-index: 99;
	width:100%;
	top:100px; 
	padding-bottom: 40px;
	padding-left: 100px;
	padding-right: 100px;
	background: red;
}